@nav-background-color: #f8f9fa;
@right-panel-width: 0;

body {
  margin: 0px !important;
}

.action {
  &.post, &.put, &.get, &.delete, &.patch {
    border: 1px solid;
  }
}

.triple {
  margin-top: 0px !important;
}
.logo {
  padding: 0px !important;
  padding-top: 8px !important;
  width: 210px;
  position: absolute;
}
.top-bar {
  height: 60px !important;
}

.container-fluid nav {
  margin: 0;
  top: 0;
  margin-top: 0;
  nav {
    padding: 4px 12px;
  }
}

.inner {
  > h5 {
    color: inherit;
    font-size: inherit;
  }
}

.content {
  .middle, .right {
    padding-top: 0;
  }
}

.resource-heading {
  font-size: 28px !important;
}
.resource-group {
  margin-bottom: 0px !important;
}
.modal_link {
  color: #81BD41;
  font-weight: bold;
}
.modal_link:hover {
  color:#686868
};

.animation(@length: 0.75s) {
  -webkit-transition: all @length ease-out;
  transition: all @length ease-out;
}

.action-example-toggle {
  .animation();

  &.collpase {
    opacity: 1;
  }
}

.action-wrap {
  height: auto;
  border: none;
  opacity: 1;

  .animation();

  &.hidden {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}

